$side-menu-color: #fafbff;
$side-menu-highlight: #d3b68c;
$color-gray: #d8dde1;
$color-dark-gray: #8c959e;
$color-dark-blue: #2a3646;
$color-blue: #414c5e;
$color-light-blue: #909fb2;
$color-red: #ee716d;
$color-brown: #c2ac81;
$color-green: #43ad6f;
$color-darkBrown: #937F62;
$color-veryDarkBrown: #534837;

$sidebar-width: 15rem;
$page-top-offset: 6rem;
$menu-item-padding: 0.9rem;
$menu-item-height: $menu-item-padding*2 + 1;

@font-face  {
  font-family: 'DoroidSans';
  src: font-url('DroidSans.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: font-url('Roboto-Light') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Roboto';
  src: font-url('Roboto-Thin') format('truetype');
  font-weight: 100;
}
