= section_menu(@menu)
= show_notice(notice)
.row
  .col-sm-12
    %table.table
      %thead
        %tr
          %th Name
          %th Type
          %th Brand
          %th Description
          %th Pictures
          %th Restore
          %th Delete
      %tbody
        = render partial: "item_restore", collection: @items