= section_menu(@menu)
= show_notice(notice)
.row
  .col-sm-12
    %table.table
      %thead
        %tr
          %th Image
          %th Type
          %th Description
          %th Delete
      %tbody
        = render partial: "type", collection: @types
