/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

// @import "shopeper";



@font-face {
  font-family: 'Roboto';
  src: font-url('Roboto-Light') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Roboto';
  src: font-url('Roboto-Regular') format('truetype');
  font-weight: normal;
}

@font-face  {
  font-family: 'DroidSans';
  src: font-url('DroidSans.ttf') format('truetype');
  font-weight: normal;
}

html, body {
  font-size: 14px;
  // height: 100%;
  // display: flex;
  // flex-direction:column;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  width: 100%;
}

.search-form {
  width: 100%;
  height: 2.2rem;
  white-space: nowrap;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
}


input:focus {
  outline:none;
}

.search-form input {
  display: inline-block;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  height: 100%;
}

.search-form input::-webkit-search-decoration, .search-form input::-webkit-search-cancel-button, .search-form input::-webkit-search-results-button, .search-form input::-webkit-search-results-decoration {
  display: none;
}

.search-form input:focus, .search-form input:active{
  outline: none;
  background-color: red;
  box-shadow: inset 0 0 0 0px #3E82F7;
  background: #FFFFFF;
}

.search-form button {
  color: #8F9091;
  background-color: #eee;
  position: absolute;
  top: 0;
  right: 0;
  left: inherit;
  margin: 0;
  border: 0;
  border-radius: 0 3px 3px 0;
  padding: 0;
  width: 2rem;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  user-select: none;
}

.login-screen {
  background-color: #34495E;
}

.login-form {
  padding-top: 20px;
  background: #F8F8F8;
  // height: 100%;
  // position: absolute;

  h2 {
    font-family: 'DroidSans';
    font-size: 1.5rem;
  }

  label {
    font-family: "DroidSans";
  }
}

.header {
  top: 0px;
  background: rgb(52, 73, 94);
  height: 15rem;
  font-family: 'Roboto';
  font-size: 1.6rem;
  font-weight: 200;
  color: rgb(255, 255, 255);
  padding-top: 4rem;
  text-align: center;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.main-body {
  padding: 1rem;
  flex-grow: 1;
}

.shadow-box {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 3px 2px;
}

.sub-header {
  margin-top: -7rem;
  // background: linear-gradient(-45deg, rgb(76, 141, 178), rgb(132, 198, 236), rgb(97, 191, 233));
  background: white;
  border-bottom: 2px solid rgb(248, 248, 248);
  padding: 1rem;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.main-content {
  background: white;
  padding: 5px;

  form {
    padding-top: 2rem;
  }
}

.main-container {
  margin-left: 25%;
  width: 50%;
  background: rgb(248, 248, 248);
}

.links {
  margin-top: 1rem;
  a {
    display: block;
  }
}

@media (max-width: 1300px) {
  .main-container {
    margin-left: 5%;
    width: 90%;
  }

  html, body {
    font-size: 22px;
  }
}


@media (max-device-width: 736px) and (orientation: portrait) {

  html, body {
    font-size: 36px;
  }

  .main-container {
    margin-left: 0;
    width: 100%;
  }
}