%tr
  %td
    = link_to mall.name, edit_director_mall_path(mall)
  %td
    = mall.address
  %td
    = link_to "#{icon('trash')}".html_safe, director_mall_path(mall), method: :delete, confirm: 'Are you sure ?'